node_modules/
*.log
audit_results.json
scratch_audit.js
test_overflow_375.js
capture_375_clean.js
inspect_layout.js
audit_all_pages.js
verify_all_pages_and_links.js
check_links.js
add_cache_buster.js
test_nav_wrapping.js
test_short_viewports.js
take_final_verification_screenshots.js
screenshots/
screenshots_audit/
screenshots_final/
full_qa_report.json
audit_results_summary.json
